.blockProjects {
    width: 100%;
    height: auto;
    background-color: #111;
    padding: 90px 0 0 0;
}

.containerProjects {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.blockTitle {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blockProjects .itemTitle {
    padding: 0 10px 0 10px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.boxBorders_2 {
    position: relative;
    padding-top: 90px;
}

.borderVertical_2::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    width: 6px;
    height: 70px;
    background-color: #4973ff;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, #4973ff 0%, #4973ff 25%, rgba(0, 212, 255, 1) 100%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.horizonteBorder_2::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    border: 1px dashed #333;
    transform: scaleY(0.8);
    transform-origin: top;
    z-index: 1;
}


@media (max-width: 360px) {
    .blockProjects {
        width: 100%;
        min-height: 75vh;
    }

    .blockTitle {
        width: 100%;
        height: 80px;
        border-bottom: 1px solid;
        display: flex;
        justify-content: center;
    }
}