.commonBlockHiring {
    position: relative;
    width: 100%;
    min-height: 36vh;
    background-color: #111;
    padding: 50px 0 50px 0;
}

.containerHiring {
    width: 80%;
    min-height: 35vh;
    margin: 0 auto;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    align-items: center;
}
.blockTitle {
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.blockTitle .itemTitle {
    padding: 0 10px 0 10px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: lightgray;
}
.button button {
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    background-color: rgba(119, 119, 119, 0.93);
    color: snow;
    border: none;
    cursor: pointer;
}
.boxBorders {

}

.borderVertical::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 6px;
    height: 70px;
    background-color: #4973ff;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, #4973ff 0%, #4973ff 25%, rgba(0, 212, 255, 1) 100%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.horizonteBorder::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    border: 1px dashed #333;
    transform: scaleY(0.8);
    transform-origin: top;
}

@media (max-width: 360px) {
    .containerHiring {
        min-height: 36vh;
    }
    .blockTitle {
        height: 140px;
    }
    .blockTitle .itemTitle {
        min-height: 68px;
        text-align: center;
    }
    .button button {
        font-size: 18px;
        padding: 8px 26px 8px 26px;
    }
}