.blockHeader {
    height: 80px;
    /*width: 100%;*/
    background-color: #42738E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blockHeader h3 {
    color: snow;
}