/*height: 100vh; это высота любого экрана*/
.containerMain {
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    padding-top: 80px;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.greetingsBlock {
    width: 100%;
    min-height: 80vh;
    background-color: #5E87AC;
}
.greetings {
    background-color: silver;
}
.greetings .itemHi {
    font-size: 20px;
    font-weight: 500;
}
.greetings .itemName {
    margin-top: 0;
    margin-bottom: 0;
}
.greetings .itemPosition {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}
.image {
    width: 250px;
    height: 280px;
    background-color: silver;
    background-size: contain;
}

@media (max-width: 360px) {
    .greetings {
        text-align: center;
    }
    .containerMain {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .greetingsBlock {
        width: 100%;
        min-height: 96vh;
        background-color: #5E87AC;
    }
}