.blockItemProjects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blockItemProjects .blockItems {
    width: 40%;
    min-height: 320px;
    background-color: silver;
    border-right: 1px solid;
    margin-bottom: 50px;
}
.itemsProjects {
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.2);
}
.popupBlock {
    width: 100%;
    height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewPopup {
    width: 30%;
    color: snow;
    font-size: 20px;
    background-color: #666666;
    padding: 6px 0 6px 0;
    text-align: center;
    cursor: pointer;
}
.titleDescBlock .descriptionProjects .description {
    margin-top: 0;
    margin-bottom: 0;
}

.titleDescBlock {
    width: 100%;
    height: 100px;
    background-color: azure;
}

.titleBlock {
    margin-left: 15px;
    line-height: 32px;
}
.titleBlock .titleProjects {
    font-size: 18px;
    background-color: rgba(192, 192, 192, 0.44);
}
.descriptionProjects .description {
    width: 88%;

}
.descriptionProjects .description {
    margin-left: 15px;
    height: 44px;
    background-color: rgba(192, 192, 192, 0.44);
}






@media (max-width: 360px) {
    .blockItemProjects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blockItemProjects .blockItems {
        width: 100%;
        height: 320px;
        margin-bottom: 50px;
    }
    .viewPopup {
        width: 60px;
    }
}