.blockNav {
    border: 1px solid;
    width: 338px;
    display: inline-block;
}

.blockNav a {
    text-decoration: none;
    padding: 0 9px 0 9px;
    color: snow;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s;
    box-sizing: border-box;
}

.blockNav a:hover {
    width: 845px;
    text-decoration: none;
    color: snow;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
    background-color: #5DA252;
    padding: 4px 9px 4px 9px;
    border-radius: 3px;
    transition: 0.2s;
}
