//переменные для препроцессоров как правило хранятся в одном
// файле проекта

$textColor: #F9F9F9;
$textSecondColor: #8e8e8e;
$primaryColor: #4973ff;
$bgColor: #111;
$bgSecondColor: rgba(0, 0, 0, 0.86);
$textPoppins: Poppins, sans-serif;