@import '../common/styles/sass/variables';

.blockFooter {
  width: 100%;
  background-color: #232628;

  .containerFooter {
    width: 80%;
    height: 280px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .itemsBlock {
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .blockTitle {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .itemTitle {
          color: $textColor;
          font-family: $textPoppins;

          height: 36px;

          margin: 0;
          padding: 0 10px 0 10px;
        }
      }

      .blocksSocialIcons {
        width: 278px;

        display: flex;
        justify-content: space-between;

        a.socialIcon {
          background: linear-gradient(180deg, #4973ff 0%, #4973ff 25%, #00d4ff 100%);
          border-radius: 50%;
          font-size: 28px;

          width: 40px;
          height: 40px;

          display: flex;
          justify-content: center;
          align-items: center;

          box-sizing: border-box;
        }

        .socialIcon span.telegramIcon {
          color: $textColor;
          font-size: 28px;
          transition: 0.1s ease-in-out;
        }

        .socialIcon span.linkedinIcon {
          color: $textColor;
          font-size: 28px;
          transition: 0.1s ease-in-out;
        }

        .socialIcon span.githubIcon {
          color: $textColor;
          font-size: 28px;
          transition: 0.1s ease-in-out;
        }

        .socialIcon span.envelopeIcon {
          color: $textColor;
          font-size: 28px;
          transition: 0.1s ease-in-out;
        }

        .socialIcon .telegramIcon:hover {
          color: #666666;
          transition: 0.1s ease-in-out;
        }

        .socialIcon .linkedinIcon:hover {
          color: #666666;
          transition: 0.1s ease-in-out;
        }

        .socialIcon .githubIcon:hover  {
          color: #666666;
          transition: 0.1s ease-in-out;
        }

        .socialIcon .envelopeIcon:hover  {
          color: #666666;
          transition: 0.1s ease-in-out;
        }

        @media (max-width: 360px) {
          width: 98%;
        }
      }

      .license {
        .copyright {
          color: $textColor;
          font-family: $textPoppins;
          font-weight: 500;

          margin: 0;
        }
      }
    }
  }
}


