@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.title {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;

  border-bottom: 1px solid;
  margin-bottom: 20px;

  h2 {
    @include textHead($textColor, 48px, $textPoppins);
    letter-spacing: 1px;
    margin: 0;
  }
}
