.blockNav {
    border: 1px solid;
    width: 298px;
}

.blockNav a {
    text-decoration: none;
    padding-right: 7px;
    color: snow;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s;
    box-sizing: border-box;
    padding-left: 10px;
}

.blockNav a:hover {
    width: 845px;
    text-decoration: none;
    color: snow;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
    background-color: #303F7D;
    padding: 4px 7px 4px 7px;
    border-radius: 3px;
    transition: 0.2s;
    padding: -1px;
}

/*.blockNav a:last-child {*/
/*    margin: 0;*/
/*}*/