@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.blockContacts {
  width: 100%;
  height: 550px;
  //background-color: $bgColor;

  -webkit-box-shadow: 0px 20px 34px 9px rgba(17, 17, 17, 0.2);
  -moz-box-shadow: 0px 20px 34px 9px rgba(17, 17, 17, 0.2);
  box-shadow: 0px 20px 34px 9px rgba(17, 17, 17, 0.2);
  z-index: 2;

  .containerContacts {
    width: 80%;
    margin: 0 auto;
    border-top: 0;
    border-bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 90px 0 90px 0;

    .blockContactsForm {
      width: 100%;
      min-height: 380px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      .blockTitle {
        .itemTitle {
          @include textHead($textColor, 36px, $textPoppins);
          color: $textColor;
          height: 36px;
          margin-top: 0;
          margin-bottom: 0;
          padding: 0 10px 0 10px;

        }
      }

      .blockForm {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;

        input[type='text'],
        input[type='email'] {
          width: 100%;
          padding: 5px;
          box-sizing: border-box;
          outline: none;
          margin-bottom: 10px;
          background-color: #333;
          color: $textColor;
          border: none;
          border-radius: 4px;
        }

        textarea {
          outline: none;
          padding: 5px 0 0 5px;
          border: none;
          font-size: 14px;
          width: 100%;
          height: 130px;
          box-sizing: border-box;
          background-color: #333;
          color: #fff;
          border-radius: 4px;
        }

        @media (max-width: 760px) {
          width: 70%;
        }

        @media (max-width: 360px) {
          width: 100%;
        }
      }

      .submit input {
        font-size: 20px;
        background-color: $primaryColor;
        color: $textColor;
        border: none;
        cursor: pointer;
        padding: 10px 30px 10px 30px;
        border-radius: 2px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #3c62d8;
        }

        &:active {
          color: #fff9;
          background-color: #2951bd;
        }
      }
    }

    @media (max-width: 360px) {
      min-height: 75vh;
    }
  }

  @media (max-width: 360px) {
    min-height: 75vh;
  }
}


