.blockContacts {
    width: 100%;
    min-height: 55vh;
    background-color: #111;
}

.containerContacts {
    width: 80%;
    min-height: 85vh;
    margin: 0 auto;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blockContactsForm {
    width: 100%;
    min-height: 380px;
    margin: 0 auto;
    border: 1px solid #333;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.blockContactsForm .blockForm {
    width: 400px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.blockForm input[type='text'], input[type='email'] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 10px;
}
.blockForm textarea {
    outline: none;
    padding: 4px 0 0 0;
    border: none;
    font-size: 14px;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
}

.blockTitle .itemTitle {
    padding: 0 10px 0 10px;
    height: 36px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: lightgray;
}
.submit input {
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    background-color: rgba(119, 119, 119, 0.93);
    color: snow;
    border: none;
    cursor: pointer;
}


@media (max-width: 760px) {
    .blockContactsForm .blockForm {
        width: 70%;
    }
}


@media (max-width: 360px) {
    .blockContacts {
        min-height: 75vh;
    }
    .containerContacts {
        min-height: 75vh;
    }
    .blockContactsForm .blockForm {
        width: 100%;
    }
}

